
.amount {
    font-size: 21px;
    text-align: right;
}

.categoryStore {
    font-size: 15px;
}

.date {
    line-height: 11px;
    font-size: 12px;
}

.note {
    line-height: 11px;
    font-size: 12px;
    color: gray !important;
}