.dashboard {
    background-color: #F6F6F6 !important;
}

.ui.segment {
    background-color: #FBFBFB;
}

.ui.raised.segments {
    background-color: #FBFBFB;
    margin: 7px !important;
    margin-bottom: 14px !important;
}

.ui.raised.segments:hover, .ui.raised.segments:hover > * {
    background-color: white !important;
}

.dashboard > .grid > .row > .column {
    padding: 0 !important;
    margin-top: -7px !important;
    margin-bottom: -7px !important;
}

.header {
    font-family: inherit !important;
    color: #4C4C4C !important;
}

.centerText {
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.compactPadding {
    padding: 2% !important;
}

.plus.large.icon {
    color: #48990F;
}
